.THIS .contentbox{
    border-left: 1px solid #dddddd;  
    border-right: 1px solid #dddddd;  
    border-bottom: 1px solid #dddddd;  
    border-top: 1px solid #dddddd;
 }
 
 .THIS .header{
    border-radius: 0px; 
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;  
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.1);
 }
STRONG.THIS{
    font-size:50px
}